<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700&display=swap"
    />

    <style>
      body {
        margin: 0;
        line-height: normal;
      }
    </style>
  </head>
  <body>
    <div
      style="
        position: relative;
        background-color: #fbfaf2;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 47px 0px 0px;
        box-sizing: border-box;
        gap: 24px;
        letter-spacing: normal;
        text-align: center;
        font-size: 12px;
        color: #605f60;
        font-family: Figtree;
      "
    >
      <div
        style="
          position: relative;
          line-height: 134%;
          text-align: left;
          display: none;
          width: 73px;
        "
      >
        Services
      </div>
      <div
        style="
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 0px 20px 65px;
        "
      >
        <img
          style="
            position: relative;
            width: 187px;
            height: 34px;
            overflow: hidden;
            flex-shrink: 0;
          "
          loading="eager"
          alt=""
          src="./public/layer-1.svg"
        />
      </div>
      <div
        style="
          width: 495px;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 0px 20px 15px;
          box-sizing: border-box;
          max-width: 100%;
        "
      >
        <img
          style="
            flex: 1;
            position: relative;
            max-width: 100%;
            overflow: hidden;
            height: 383px;
            object-fit: cover;
          "
          loading="eager"
          alt=""
          src="./public/group@2x.png"
        />
      </div>
      <b
        style="
          position: relative;
          font-size: 44.4px;
          line-height: 100.5%;
          display: inline-block;
          color: #2f29c4;
          width: 561px;
          max-width: 100%;
          flex-shrink: 0;
          padding-left: 20px;
          padding-right: 20px;
        "
      >
        <p style="margin: 0">Reasons why you should consider outsourcing</p>
      </b>
      <div
        style="
          width: 542px;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 0px 20px 4px;
          box-sizing: border-box;
          max-width: 100%;
          flex-shrink: 0;
          font-size: 20px;
          color: #6d69d6;
        "
      >
        <h3
          style="
            margin: 0;
            flex: 1;
            position: relative;
            font-size: inherit;
            line-height: 134%;
            font-weight: 400;
            font-family: inherit;
            display: inline-block;
            max-width: 100%;
          "
        >
          We provide professional and cost-effective solutions to help you reach
          your goals faster. Our experienced SEO team is dedicated to helping
          you get the most out of your investment in Sweden. Fill out this form
          so we can help you find the right solution.
        </h3>
      </div>
      <div
        style="
          width: 272px;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 0px 20px 39px;
          box-sizing: border-box;
        "
      >
        <button
          style="
            cursor: pointer;
            border: none;
            padding: 17px 15px 15px;
            background-color: #2f29c4;
            flex: 1;
            border-radius: 4.12px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
          "
        >
          <div
            style="
              position: relative;
              font-size: 22px;
              line-height: 134%;
              font-weight: 600;
              font-family: Figtree;
              color: #fff;
              text-align: center;
            "
          >
            Contact Us
          </div>
        </button>
      </div>
      <main
        style="
          align-self: stretch;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          box-sizing: border-box;
          max-width: 100%;
        "
      >
        <section
          style="
            flex: 1;
            background-color: #2f29c4;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 36px 20px 47px 21px;
            box-sizing: border-box;
            gap: 12px;
            max-width: 100%;
            text-align: left;
            font-size: 13px;
            color: #fff;
            font-family: Figtree;
          "
        >
          <div
            style="
              position: relative;
              background-color: #2f29c4;
              width: 600px;
              height: 212px;
              display: none;
              max-width: 100%;
            "
          ></div>
          <img
            style="
              position: relative;
              width: 187px;
              height: 34px;
              overflow: hidden;
              flex-shrink: 0;
              z-index: 1;
            "
            loading="eager"
            alt=""
            src="./public/layer-1-1.svg"
          />

          <div style="width: 22px; height: 22px; display: none"></div>
          <div
            style="
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              justify-content: flex-start;
              padding: 0px 27px 0px 0px;
            "
          >
            <div
              style="
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                gap: 5px;
              "
            >
              <div
                style="
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-start;
                  gap: 8px;
                "
              >
                <img
                  style="
                    position: relative;
                    width: 22px;
                    height: 22px;
                    overflow: hidden;
                    flex-shrink: 0;
                    z-index: 1;
                  "
                  loading="eager"
                  alt=""
                  src="./public/frame.svg"
                />

                <div
                  style="
                    position: relative;
                    line-height: 110%;
                    white-space: nowrap;
                    z-index: 1;
                  "
                >
                  contact@outsource2eu.com
                </div>
              </div>
              <div
                style="
                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
                  justify-content: flex-start;
                "
              >
                <img
                  style="
                    position: relative;
                    width: 22px;
                    height: 22px;
                    overflow: hidden;
                    flex-shrink: 0;
                    z-index: 3;
                  "
                  loading="eager"
                  alt=""
                  src="./public/frame-1.svg"
                />

                <div
                  style="
                    position: relative;
                    line-height: 110%;
                    white-space: nowrap;
                    z-index: 1;
                    margin-left: -1px;
                  "
                >
                  +383 49 665 677
                </div>
              </div>
            </div>
          </div>
          <div
            style="
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              gap: 8px;
            "
          >
            <img
              style="
                position: relative;
                width: 22px;
                height: 22px;
                overflow: hidden;
                flex-shrink: 0;
                z-index: 1;
              "
              loading="eager"
              alt=""
              src="./public/frame-2.svg"
            />

            <div style="position: relative; line-height: 110%; z-index: 1">
              tr. Nr 5, Zeki Shulemaja, Prishtinë 10000
            </div>
          </div>
        </section>
      </main>
 
    </div>
  </body>
</html>